.greybg{
    background-color: #121212;
}

.blackbg{
    background-color: black;
}
.ligthgreybg{
    background-color: #242424;
}
.fontbg{
   color: #a7a7a7;
}

.flex{
    display: flex;
}

.button{
 border: 2px solid red;
 border-radius: 20px;
 padding: 10px;
 background-color: #ffffff;
width: 125px;
border-style: none;
}


.listcard{
    
}